*{
    font-family: inter,sans-serif;
}

.variantcolor{
background-image: linear-gradient(103deg, #0c62a8, #b8427d 47%, #fda265);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;

font-size: 100px !important;
font-weight: 800;
}

.work img:hover {
    scale: 1.05;
    transition-duration: 450ms;
}
